datasets
google-colab
ipykernel
ipywidgets
joblib
jupyterlab
matplotlib
names
nltk
notebook
numpy
pandas
plotly
pytest
requests
scikit-learn
scipy
seaborn
shap
spacy
statsmodels
textstat
torch
torchaudio
torchvision
transformers
wordcloud
xgboost
