*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.loq
*.lgr
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*-SAVE-ERROR
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
